Source: ros-jazzy-log-view
Section: misc
Priority: optional
Maintainer: Marc Alban <marcalban@hatchbed.com>
Build-Depends: debhelper (>= 9.0.0), libncurses-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-rcl-interfaces, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-log-view
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses-dev, ros-jazzy-rcl-interfaces, ros-jazzy-rclcpp, xclip, ros-jazzy-ros-workspace
Description: The log_view package provides a ncurses based terminal GUI for viewing and filtering published ROS log messages.
 This is an alternative to rqt_console and swri_console that doesn't depend on qt and can be run directly in a terminal.
