Source: ros-lyrical-log-view
Section: misc
Priority: optional
Maintainer: Marc Alban <marcalban@hatchbed.com>
Build-Depends: debhelper (>= 9.0.0), libncurses-dev, ros-lyrical-ament-cmake, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-rcl-interfaces, ros-lyrical-rclcpp, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/log_view/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-log-view
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses-dev, ros-lyrical-rcl-interfaces, ros-lyrical-rclcpp, xclip, ros-lyrical-ros-workspace
Description: The log_view package provides a ncurses based terminal GUI for viewing and filtering published ROS log messages.
 This is an alternative to rqt_console and swri_console that doesn't depend on qt and can be run directly in a terminal.
